<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Bots Management</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet">
</head>
<body>
    <h1 style="color: #fff;">Bots Status</h1>
    <div>
        {% for bot in bot_processes_list %}
            <div class="bot-card" style="border: 1px solid #333; padding: 10px; margin: 10px; display: inline-block;">
                <h2 style="color: #fff;">{{ bot.bot_name }}<a href="{{ url_for('bot_settings', bot_name=bot.bot_name) }}" class="setting-btn"><i class="ri-settings-4-fill"></i></a></h2>
                <img src="{{ url_for('static', filename=bot.image_path) }}" alt="{{ bot.bot_name }} Image" style="max-width: 100px;">
                <br>
                {% if bot.is_alive() %}
                    <p style="color: #fff; text-decoration: none;">Status: Running</p>
                    <a href="{{ url_for('stop_bot', bot_name=bot.bot_name) }}" class="btn-anim-stop"><span>Stop Bot</span><span></span></a>
                {% else %}
                    <p style="color: #fff; text-decoration: none;">Status: Stopped</p>
                    <a href="{{ url_for('start_bot', bot_name=bot.bot_name) }}" class="btn-anim-start"><span>Start Bot</span><span></span></a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>
